/*Global Style*/
body {
  background-image: url(../images/woodfinish.jpg);
background-size: 100% 100%;
  overflow-y: scroll;
  background-color: #fff;
  font-family: 'Asar', serif;
	color: #ffffff;
		font-size: 18px;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Glegoo', serif;
}
h1 {font-size: 67px;
}
h2 {font-size: 41px
}
h3 {font-size: 25px;
}
h4{font-size: 18px;
}
.brand {
  display: -ms-flexbox;
   display: -webkit-flex;
  display: flex;
  flew-direction: column;
  justify-content: center;
  align-items: flex-end;

}
.logopic{
  flex: 1;
  order: 1;
  text-align:center;

}

.resize {
  border-radius: 1.5em;
  max-width:150px;
   max-height:300px;

}


}
/*Nav*/

.nav {
  max-width: 100%;
  margin: 0px auto;
  width: 920px;

}

.nav #container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.nav ul{
  padding: 0px;
  list-style-type: none;
  text-align: left;
  margin: 0px 0.2em 0px 0px;
}

.nav ul li {
    flex-grow: 1;
    display: inline-block;
    font-size: 0.8em;
}

ul li{
 display:inline-block;


}
ul li a{

  text-decoration:none;
  color:#fff;
  font-family:'Glegoo',serif;
  transition:all 0.4s ease-in-out;
  background-color:#000;
  padding:12px;
  text-transform: uppercase;

}
ul li a:hover{

  text-decoration:none;
  color:#fff;
  background-color:#734d26;


}
ul li a.active{
 padding:12px 12px 30px 12px;
 background-color:#734d26;
 text-decoration: underline;
 color: #734d26;

}
/*content*/
.content-layout {
	max-width: 1000px;
  margin: 20px auto 0 auto;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contentone {
  flex: 1;
  order: 1;
}

.contenttwo {
  flex: 1;
  order: 2;
}


* {box-sizing:border-box}

/*About Us*/

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
position: relative;
margin: auto;
box-sizing: border-box;
display: block;
overflow: hidden;
max-height: 760px;
border-radius: 0.5em 0.5em 0px 0px;
}

.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #F2F2F2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 25px;
}


/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;

}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* Footer */
footer{
  background-color: #000000;
}

footer p {
  text-align:center;
  color: #ffffff;

}

footer a {

color:#fff;
text-decoration: none;
}
.center {text-align:center;}

/*Responsive*/
@media (max-width: 920px) {
  body {
    font-size: 1.0em;
  }
  nav{display: inline-block;
  width: 60%;}
}

@media (max-width: 500px) {
  .nav {
    display: inline-block;
    width: 45%;
  }
  form{
    width: 45%;
  }
