/* flexboxes */
.row-layout {
  max-width: 1300px;
  margin: 40px auto 0 auto;
  padding: 20px 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.menupic {
	max-height: 300px;
	max-width: 300px;
}
.one {
  flex: 1;
  order: 1;
}

.two {
  flex: 1;
  order: 2;
}

.three {
  flex: 1;
  order: 3;
}

/*Jobs*/

.jobpost {
	display: flex;
	max-width: 1000px;
	margin: 40px auto 0 auto;
  padding: 20px 50px;
	flex-direction: column;
	justify-content: center;

}

.job1{
	flex:1;
	order:1;
}


.job2{
	flex:1;
		order:2;
}

.job3 {
	flex:1;
	order:3;
}


.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    float:right;
}

/* About */

.juliopic
{
  max-width: 800px;
  max-height: 800px;
  position: relative;
  margin: auto;
  border-radius: 0.5em;
box-sizing: border-box;
display: block;
overflow: hidden;
}
